= render 'layouts/slider'
= render 'layouts/service_area'
= render 'layouts/about_info_area'
= render 'layouts/contact_form_quote'
= render 'layouts/information_area'
/ = render 'layouts/accordion_area'