<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Получен запрос на получение подробнной информации от посетителя сайта.</h1>
    <h3>Имя посетителя: <%= @name %></h3>
    <p>
      e-mail: <%= @email %><br>
    </p>
    <p>
      Текст сообщения: <%= @message %>
    </p>
  </body>
</html>